body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
}

main {
    flex: 1;
}

header {
    background-color: aqua;
}

body {
    background-color:aliceblue;
}

footer {
    background-color: aquamarine;
}